<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #main {
            display: flex;
        }

        #ipt {
            width: 30%;
            height: 25px;
        }
    </style>
</head>

<body>
    <h1 style="padding-left: 990px;">Welcome {{nm}}</h1>
    {{msg}}
    <form action="{% url 'query' %}" method="post">
        {% csrf_token %}
        Name    : <input type="text" name="name" value="{{nm}}" readonly id="ipt"><br><br>
        Email   : <input type="text" name="email" value="{{em}}" readonly id="ipt"><br><br>
        Contact : <input type="text" name="contact" value="{{con}}" readonly id="ipt"><br><br>
        Query   : <input type="text" name="query" id="ipt"><br><br>
        <a href="{% url 'home' %}"><button>Logout</button></a>
        <a href=""><button>Submit</button></a>
    </form><br><br>

    <!-- ----------------------------Table----------------------------------- -->


</body>

</html>